footer{
	position: fixed;
	bottom: 0; left:0;
	display: block;
	width:100%;
	z-index:10;
	padding: 1rem;
	height:auto;
	background-color:$black;
	color:$white;
	@include box-sizing(border-box);
	text-align: center;
	a{
		color:$blue;
		text-decoration:none;
		&:hover{ color:$red; }
	}
}